			<div class="container-fluid container">
					<div class="row">
						<div class="col-lg-4">
							<h4>Credits</h4>
							<aside>
							<p>Made with angular2 and bootswatch
							<p>Site Design : Niel M<sup>c</sup>Ewen




							</p>
							</aside>
						</div>
						<div class="col-lg-4" style="visibility: hidden;">
							<h4></h4>
							<p>

							</p>
						</div>
						<div class="col-lg-4" style="visibility: hidden;">
							<h4></h4>
							<p></p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<h4>Attribution</h4>
							<p>This product uses the Spotify API but is not endorsed or certified by Spotify.



							</p>
						</div>
						<div class="col-lg-4">
							<h4>Social Media</h4>
							<p> Follow: NielMc on GitHub



							</p>
						</div>
						<div class="col-lg-4" style="visibility: hidden;">
							<h4></h4>
							<p></p>
						</div>
					</div>
				</div>
